<div  {{ classes_attribute }} id="{{ term.term_id }}">
<div class="category-item">
    <div class="picture">
        <a href="{{ term_link }}" title="{{ term.name }}">
            <img src="{{ image }}" width="150px"/>

        </a>
    </div>
    <div class="picture-shadow"></div>
    <h2 class="title">
        <a href="{{ term_link }}" title="{{ term.name }}">
            {{ term.name }}
        </a>
    </h2>
    <div class="category-description">
        {{ term.description }}
    </div>
    <a href="{{ quick_edit_link }}">Edit</a>
</div>
</div>