{% autoescape false %}
{{ args.before  }}
{{args.submenu_before}}
<a {{ attributes }}>
{{args.link_before|raw}}
{{args.submenu_link_before}}
{{title}}
{{args.submenu_link_after}}
{{args.link_after}}
</a>
{{args.submenu_after}}
{{ args.after  }}
{% endautoescape %}